
</div>
<footer class="footer-padding">
  <div class="footer">
    <p>My Journal</p>
  </div>
</footer>
</body>
</html>

<script>

  $(document).ready(function() {
    $('form[name="post-form"]').validate({
      rules: {
        postTitle: {
          required: true
        }
      },
      messages: {
        postTitle: {
          required: "post title cannot be empty"
        }
      }
    })
  });

</script>